<html>

<head>
  <title>Please wait</title>
  <meta http-equiv="refresh" content="5;url=/"></meta>
  {{> head}}
</head>

<body class="cover" style="background-image: url(/images/{{design.cover}});">

  {{> nav}}

  <div class="wrapper">
    <div class="container holding">
      <div class="splash" style='background: {{design.bgcolor}}; color: {{design.fgcolor}}'>
        <h1>Please wait</h1>
        <p>
          We are just setting a few things up, this will take a few seconds.
        </p>
      </div>
    </div>
  </div>

  {{> tail}}
</body>

</html>