@charset "utf-8";

@import "../../node_modules/spectre.css/src/spectre-exp";
@import "../../node_modules/spectre.css/src/spectre-icons";
@import "../../node_modules/spectre.css/src/spectre";
@import "./extras";
@import "./sidebar";
@import "./navbar";

@font-face {
  font-family: "Agipo";
  src:
  url("fonts/Agipo-Regular.ttf") format("ttf");
  font-weight:600;
  font-style:bold;
}


body {
  color: black;
  font-size: 16px;
  font-family: 'Agipo', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

.title {
  font-weight: 900;
}
