<html>

<head>
  <title>GraphQL - status</title>
  {{> head}}
</head>

<body class="cover" style="background-image: url(/images/cover_001.jpg);">

  {{> nav}}

  <div class="wrapper">
    <div class="container admin-layout documentation">

      <h1>Status</h1>
      <p>
        This is where you will be able to view the status of the GraphQL server.
      </p>
      <p>
        You can also view the status of the following items.
      </p>
      <p>
        <ul>
          <li>
            <a href="/status/elasticsearch">ElasticSearch</a>
          </li>
        </ul>
      </p>

    </div>
  </div>

  {{> tail}}
</body>

</html>