<html>

<head>
  <title>M+</title>
  {{> head}}
</head>

<body class="cover" style="background-image: url(/images/{{design.cover}});">

  <section class="hero is-primary is-bold is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Welcome to the M+ graphQL server, 歡迎使用 M+ graphQL 服務器
        </h1>
        <h2 class="subtitle">
          Before you can start you must login, 在開始之前，您必須登錄
        </h2>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      &nbsp;<br />
      &nbsp;<br />
      &nbsp;<br />
    </div>
  </section>

  <section>
    <div class="container">
      <div class="notification is-size-1 has-text-centered">
        <p>
          As a developer you should read the documentation.
          作為開發人員，您應該閱讀文檔。
        </p>
        <p class="is-size-3">
          <a href="{{developerURL}}">Developer Documentation</a>, <a href="{{developerURL}}">開發者文檔</a>
        </p>
      </div>
    </div>
  </section>
  {{> tail}}
</body>

</html>