<html>

<head>
  <title>M+</title>
  {{> head}}
</head>

<body>

  <div class="docs-container off-canvas off-canvas-sidebar-show">
    {{>nav}}

    {{>sidebar}}

    <div class="off-canvas-content">
      <div class="docs-content" id="content">
        <div class="container" id="welcome">
          <h3 class="s-title">M+ Developer Portal<a class="anchor" href="#developerportal" aria-hidden="true">#</a></h3>

          <p>Some text</p>
        </div>
      </div>
    </div>
  </div>

</body>

</html>