<html>

<head>
  <title>M+</title>
  {{> head}}
</head>

<body>

  <div class="docs-container off-canvas off-canvas-sidebar-show">
    {{>nav}}

    {{>sidebar}}

    <div class="off-canvas-content">
      <div class="docs-content" id="content">
        <div class="container" id="welcome">
          <h3 class="s-title">{{{i18n.documentation.aboutapi}}}<a class="anchor" href="#developerportal" aria-hidden="true">#</a></h3>

          <hr/>
          
          <h5>Introduction</h5>
          <p>
            GraphQL is a data query language you'll use to request information from the M+ data store. Traditionally GraphQL allows two types of operations, queries and mutations these can be thought of as read and write operations.
          </p>
          <p>
            As well as one more operation called introspection, which allows you to ask the GraphQL endpoint about itself.
          </p>

          
          <h5>Introspection</h5>
          <p>
            GraphQL is a data query language you'll use to request information from the M+ data store. Traditionally GraphQL allows two types of operations, queries and mutations these can be thought of as read and write operations.
          </p>
          <p>
            As well as one more operation called introspection, which allows you to ask the GraphQL endpoint about itself.
          </p>

          <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean accumsan dolor ac purus sagittis, vel viverra turpis interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque consequat vestibulum ultrices. Vestibulum nec placerat lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur quis nibh quam. Nullam vehicula eros id neque porttitor, quis pellentesque neque tristique. Etiam at nisl lorem. Aenean vel laoreet lorem. Nunc rutrum urna at erat consectetur elementum. Proin sem lacus, pellentesque sit amet tristique quis, facilisis in arcu.
          </p>

        </div>
      </div>
    </div>
  </div>

</body>

</html>