<div class="docs-navbar">
  <a class="off-canvas-toggle btn btn-link btn-action" href="#sidebar"><i class="icon icon-menu"></i></a>
  <section class="navbar-section">
    <a href="#" class="btn btn-link">
      <img src="/images/zh.png" alt="" />
    </a>
    {{#if user}}
      <figure class="avatar avatar-sm">
        <img src="{{user.picture}}" alt="User avatar">
      </figure>
      <a href="/logout" class="btn btn-link pad-right">{{i18n.general.logout}}</a>
    {{else}}
      <a href="/login" class="btn btn-link pad-right">{{i18n.general.login}}</a>
    {{/if}}
  </section>
</div>