<div class="docs-sidebar off-canvas-sidebar" id="sidebar">

  <div class="docs-brand">
    <a class="docs-logo" href="/">
      <img src="/images/logo.png" alt="" />
    </a>
  </div>

  <div class="docs-nav">
    <div class="accordion-container">
      <div class="accordion">
        <label class="accordion-header label-header">M+ API</label>
      </div>

      <div class="accordion">
        <input id="accordion-aboutapi" type="checkbox" name="docs-accordion-checkbox" hidden=""
          {{#ifEqual navOpen "aboutapi"}}checked=checked{{/ifEqual}}>
        <label class="accordion-header content c-hand" for="accordion-aboutapi">About the M+ API</label>
        <div class="accordion-body">
          <ul class="menu menu-nav">
            <li class="menu-item"><a href="/{{lang}}/documentation/about#background">Background</a>
            </li>
            <li class="menu-item"><a href="/{{lang}}/documentation/about#thedata">The Data</a>
            </li>
            <li class="menu-item"><a href="/{{lang}}/documentation/about#access">Access</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="accordion">
        <input id="accordion-documentation" type="checkbox" name="docs-accordion-checkbox" hidden=""
          {{#ifEqual navOpen "documentation"}}checked=checked{{/ifEqual}}>
        <label class="accordion-header content c-hand" for="accordion-documentation">API Documentation</label>
        <div class="accordion-body">
          <ul class="menu menu-nav">
            {{#if user}}
              <li class="menu-item"><a href="/{{lang}}/documentation#apitoken">Your API Token</a></li>
              <li class="menu-item"><a href="/{{lang}}/documentation#endpoint">The M+ API Endpoint</a></li>
              <li class="menu-item"><a href="/{{lang}}/documentation#graphQL">About GraphQL</a>
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/{{lang}}/documentation#communicatingwithgraphql">Communicating with
                      GraphQL</a>
                  </li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#playground">GraphQL Playground</a></li>
                </ul>
              </li>
              <li class="menu-item"><a href="/{{lang}}/documentation#graphQLqueries">GraphQL Queries</a>
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/{{lang}}/documentation#introspection">Introspection</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#objects">Objects</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#object">Object</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#constituents">Constituents</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#constituent">Constituent</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#exhibitions">Exhibitions</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#exhibition">Exhibition</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#area">Areas</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#categories">Categories</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#archivallevels">Archival Levels</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#mediums">Mediums</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#makertypes">Maker Types</a></li>
                </ul>
              </li>
            {{else}}
              <li class="menu-item"><a href="/login">You must be logged in to see the documentation</a>
              </li>
            {{/if}}
          </ul>
        </div>
      </div>
      {{#if user.roles.isVendor}}
        <div class="accordion">
          <input id="accordion-siggonline" type="checkbox" name="docs-accordion-checkbox" hidden=""
            {{#ifEqual navOpen "siggonline"}}checked=checked{{/ifEqual}}>
          <label class="accordion-header c-hand" for="accordion-siggonline">Sigg Online</label>
          <div class="accordion-body">
            <ul class="menu menu-nav">
              <li class="menu-item"><a href="/{{lang}}/documentation#sigg-graphQL">Getting Started</a>
                <ul class="menu menu-nav">
                  <li class="menu-item"><a href="/{{lang}}/documentation#sigg-objectrights">Object Rights</a>
                  </li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#sigg-concepts">Concepts</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#sigg-exhibitions">Exhibitions</a></li>
                  <li class="menu-item"><a href="/{{lang}}/documentation#sigg-timeline">Timeline</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      {{/if}}

      <div class="accordion">
        <input id="accordion-elements" type="checkbox" name="docs-accordion-checkbox" hidden=""
          {{#ifEqual navOpen "termsofuse"}}checked=checked{{/ifEqual}}>
        <label class="accordion-header c-hand"><a class="terms-of-use" href="/en/documentation/termsofuse">Terms of
            Use</a></label>
      </div>
    </div>

    <div class="contacts-links">
      <ul class="menu menu-nav">
        <li class="menu-item"><a href="#">Contact</a></li>
        <li class="menu-item"><a href="#">Privacy Policy Statement</a></li>
        <li class="menu-item"><a href="#">mplus.org.hk</a></li>
      </ul>
      <img class="footer-logo" src="/images/wk_logo.png" alt="">
    </div>

  </div>
</div>
<a class="off-canvas-overlay" href="#close"></a>